@use 'variables' as var;

html{
    width: 100%;
    
}

//display-grid para dividir

.container{
    padding: 0 3rem;
    display: grid;
}

.container-i{
    display: inline-flex;
    gap: 3rem;
}


@for $var from 0 to 4 {
    .m-#{$var+1}{
        margin: $var+1+rem 0;
    }
}

%button{
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2em;
    cursor: pointer;
}

.button-red{
    @extend %button;
    background-color: #D85A5A;
}

.button-white{
    @extend %button;
    background-color: #ffff;
    box-shadow: 0px 3px 8px #b6b6b6;
}






