@use 'variables' as var;

html{
    width: 100%;
    
}

//display-grid para dividir

.container{
    padding: 2rem;
    display: grid;
}

.container-b{
    display: inline-flex;
    gap: 3rem;
}


@for $var from 1 to 5 {
    .m-#{$var*2}{
        margin-top: 0%;
        margin-bottom: $var*2+rem;
    }
}

%button{
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2em;
    cursor: pointer;
}

.button-red{
    @extend %button;
    background-color: #D85A5A;
}

.button-white{
    @extend %button;
    background-color: #ffff;
    box-shadow: 0px 3px 8px #b6b6b6;
}






